:root {
  --bg-color: #f8fafc;
  --main-letter-color: #000;
  --line-color: #0c4a6e;
  --tile-hover-color: #25dbf7c7;
  --tile-missed-color: #7dd3fc;
  --tile-hit-color: #ff5454cb;
}

html {
  font-family: "Orbitron", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--main-letter-color);

  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 3rem;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: 400;
  letter-spacing: 2px;
}

main {
  flex: 1;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.winner-wrap {
  flex: 0.5;
  margin-bottom: 20px;
  width: clamp(300px, 40%, 600px);

  display: flex;
  justify-content: center;
  align-items: center;
}

#winner {
  border: 1px solid black;
  padding: 20px 70px;
  text-align: center;
}

.declared {
  background-color: #000;
  color: white;
}

.boards {
  flex: 6;
  width: 95%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gameboard {
  padding: 10px;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  margin: 20px;
  margin-top: 10px;

  height: 20em;
  width: 20em;
}

.row {
  height: 10%;

  display: flex;
}

.tile {
  border: 1px solid var(--line-color);
  background-color: #fff;
  flex: 1;
  margin: 2px;
  transition: 0.2s;
}

.tile:hover {
  background-color: var(--tile-hover-color);
  border: 1px solid var(--tile-hover-color);
  cursor: pointer;

  transition: 0.2s;
}

.missed {
  background-color: var(--tile-missed-color);
  border: 1px solid var(--tile-missed-color);
}

.missed:hover {
  background-color: var(--tile-missed-color);
  border: 1px solid var(--tile-missed-color);

  transition: 0.2s;
}

.hit {
  background-color: var(--tile-hit-color);
  border: 1px solid var(--tile-hit-color);

  transition: 0.2s;
}

.hit:hover {
  background-color: var(--tile-hit-color);
  border: 1px solid var(--tile-hit-color);

  transition: 0.2s;
}

footer {
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  #winner {
    padding: 20px 30px;
  }

  .boards {
    flex-direction: column;
  }

  .board {
    height: 15em;
    width: 15em;
  }
}
